## Fetching Dataset

In [1]:
# from google.colab import drive

# drive.mount("/content/drive")

In [2]:
import numpy as np, pandas as pd

In [3]:
dataset = pd.read_csv("Datasets/Social_Network_Ads_Cleaned.csv")

In [4]:
dataset.head(5)

     UserID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
dataset.tail(5)

       UserID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

In [6]:
dataset

       UserID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [7]:
dataset.rename(columns={"User ID": "UserID"}, inplace=True)

In [8]:
dataset.shape

(400, 5)

In [9]:
print("The dataset has a total of " + str(dataset.shape[0]) + " rows and " + str(dataset.shape[1]) + " columns.")

The dataset has a total of 400 rows and 5 columns.

In [10]:
dat_columns = dataset.columns
dat_columns

Index(['UserID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

## Encoding Data

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le = LabelEncoder()
dataset["Gender"] = le.fit_transform(dataset["Gender"])

In [13]:
dataset

       UserID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       0   26            43000          0
3    15603246       0   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       0   46            41000          1
396  15706071       1   51            23000          1
397  15654296       0   50            20000          1
398  15755018       1   36            33000          0
399  15594041       0   49            36000          1

[400 rows x 5 columns]

In [14]:
# dataset["Gender"] = dataset["Gender"].map({"Male": 0, "Female": 1})

## Splitting Input & Output Data

In [15]:
x = dataset.iloc[:, [1, 2, 3]]
y = dataset.iloc[:, -1]

In [16]:
x

     Gender  Age  EstimatedSalary
0         1   19            19000
1         1   35            20000
2         0   26            43000
3         0   27            57000
4         1   19            76000
..      ...  ...              ...
395       0   46            41000
396       1   51            23000
397       0   50            20000
398       1   36            33000
399       0   49            36000

[400 rows x 3 columns]

In [17]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

## Splitting Train and Test Set

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [20]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(320, 3)
(80, 3)
(320,)
(80,)

In [21]:
X_train

     Gender  Age  EstimatedSalary
336       1   58           144000
64        0   59            83000
55        0   24            55000
106       0   26            35000
300       0   58            38000
..      ...  ...              ...
323       0   48            30000
192       1   29            43000
117       1   36            52000
47        0   27            54000
172       0   26           118000

[320 rows x 3 columns]

In [22]:
X_test

     Gender  Age  EstimatedSalary
132       1   30            87000
309       0   38            50000
341       1   35            75000
196       0   30            79000
246       0   35            50000
..      ...  ...              ...
14        1   18            82000
363       0   42            79000
304       0   40            60000
361       0   53            34000
329       0   47           107000

[80 rows x 3 columns]

## Scaling Data

In [23]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

**MinMaxScaler:**

*X_{scaled} = (X - X_{min}) / (X_{max} - X_{min})* 

- Scales the data such that all values are in the range [0, 1].
- Preserves the shape of the dataset.
- Also known as Normalization.

In [24]:
sc = MinMaxScaler()
X_train[["Age"]] = sc.fit_transform(X_train[["Age"]])
X_test[["Age"]] = sc.fit_transform(X_test[["Age"]])
X_train[["EstimatedSalary"]] = sc.fit_transform(X_train[["EstimatedSalary"]])
X_test[["EstimatedSalary"]] = sc.fit_transform(X_test[["EstimatedSalary"]])

In [25]:
X_test

     Gender       Age  EstimatedSalary
132       1  0.285714         0.533333
309       0  0.476190         0.259259
341       1  0.404762         0.444444
196       0  0.285714         0.474074
246       0  0.404762         0.259259
..      ...       ...              ...
14        1  0.000000         0.496296
363       0  0.571429         0.474074
304       0  0.523810         0.333333
361       0  0.833333         0.140741
329       0  0.690476         0.681481

[80 rows x 3 columns]

**StandardScaler**

*X_{scaled} = (X - \mu) / \sigma*; 
*\sigma = √[ Σ (X_i - \mu)² / N ]* 

- Scales the data to have a mean of 0 and standard deviation of 1.
- Useful when data distribution is gaussian/normal.
- Also known as Standardization.

In [26]:
# sc = StandardScaler()
# X_train[["Age_scaled"]] = sc.fit_transform(X_train[["Age"]])
# X_test[["Age_scaled"]] = sc.fit_transform(X_test[["Age"]])
# X_train[["EstimatedSalary_scaled"]] = sc.fit_transform(X_train[["EstimatedSalary"]])
# X_test[["EstimatedSalary_scaled"]] = sc.fit_transform(X_test[["EstimatedSalary"]])

In [27]:
# X_test

## Classification

### Modeling

In [28]:
from keras.models import Sequential
from keras.layers import Input
from keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping

In [29]:
ann = Sequential()
ann.add(Input((3,)))
ann.add(Dense(8, activation='relu'))
ann.add(Dense(4, activation='relu'))
ann.add(Dense(1, activation='sigmoid'))

In [30]:
# ann.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
ann.compile(loss='binary_crossentropy', optimizer=Adam(learning_rate=1e-2), metrics=['accuracy'])

In [31]:
ann.optimizer.get_config()

{'name': 'adam',
 'learning_rate': 0.009999999776482582,
 'weight_decay': None,
 'clipnorm': None,
 'global_clipnorm': None,
 'clipvalue': None,
 'use_ema': False,
 'ema_momentum': 0.99,
 'ema_overwrite_frequency': None,
 'loss_scale_factor': None,
 'gradient_accumulation_steps': None,
 'beta_1': 0.9,
 'beta_2': 0.999,
 'epsilon': 1e-07,
 'amsgrad': False}

In [32]:
ann.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 8)              │            32 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 4)              │            36 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │             5 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 73 (292.00 B)

 Trainable params: 73 (292.00 B)

 Non-trainable params: 0 (0.00 B)

In [33]:
callback = EarlyStopping(monitor='accuracy', min_delta=1e-2, patience=10, verbose=1, mode='max', restore_best_weights=True, start_from_epoch=0)

In [34]:
hist = ann.fit(X_train, Y_train, epochs=100, batch_size=32, validation_split=0.15, callbacks=[callback])

Epoch 1/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 3s 60ms/step - accuracy: 0.6140 - loss: 0.6786 - val_accuracy: 0.6875 - val_loss: 0.6400
Epoch 2/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.6103 - loss: 0.6504 - val_accuracy: 0.6875 - val_loss: 0.5590
Epoch 3/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.6103 - loss: 0.6172 - val_accuracy: 0.6875 - val_loss: 0.5429
Epoch 4/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.6103 - loss: 0.5873 - val_accuracy: 0.6875 - val_loss: 0.5149
Epoch 5/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.6581 - loss: 0.5610 - val_accuracy: 0.7500 - val_loss: 0.4758
Epoch 6/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7059 - loss: 0.5318 - val_accuracy: 0.8125 - val_loss: 0.4379
Epoch 7/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7721 - loss: 0.5014 - val_accuracy: 0.9167 - val_loss: 0.4029
Epoch 8/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.7978 - loss: 0.4651 - val_accuracy: 0.9167 - val_loss: 0.3753
Epoch 9/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.8125 - loss: 0.4365 - val_accuracy: 0.9375 - val_loss: 0.3182
Epoch 10/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.8051 - loss: 0.4101 - val_accuracy: 0.9167 - val_loss: 0.3105
Epoch 11/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.8235 - loss: 0.4078 - val_accuracy: 0.9167 - val_loss: 0.2885
Epoch 12/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.8199 - loss: 0.3966 - val_accuracy: 0.9375 - val_loss: 0.2680
Epoch 13/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.8051 - loss: 0.3848 - val_accuracy: 0.9167 - val_loss: 0.2708
Epoch 14/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.8272 - loss: 0.3808 - val_accuracy: 0.9167 - val_loss: 0.2495
Epoch 15/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - accuracy: 0.8346 - loss: 0.3707 - val_accuracy: 0.9167 - val_loss: 0.2418
Epoch 16/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.8419 - loss: 0.3653 - val_accuracy: 0.9167 - val_loss: 0.2486
Epoch 17/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.8235 - loss: 0.3619 - val_accuracy: 0.9167 - val_loss: 0.2331
Epoch 18/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.8272 - loss: 0.3632 - val_accuracy: 0.9167 - val_loss: 0.2333
Epoch 19/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - accuracy: 0.8309 - loss: 0.3610 - val_accuracy: 0.9167 - val_loss: 0.2334
Epoch 20/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - accuracy: 0.8309 - loss: 0.3648 - val_accuracy: 0.9167 - val_loss: 0.2241
Epoch 21/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.8309 - loss: 0.3574 - val_accuracy: 0.9167 - val_loss: 0.2282
Epoch 22/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.8346 - loss: 0.3565 - val_accuracy: 0.9167 - val_loss: 0.2261
Epoch 23/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.8382 - loss: 0.3547 - val_accuracy: 0.9167 - val_loss: 0.2237
Epoch 24/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - accuracy: 0.8309 - loss: 0.3589 - val_accuracy: 0.9167 - val_loss: 0.2105
Epoch 25/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - accuracy: 0.8419 - loss: 0.3527 - val_accuracy: 0.9375 - val_loss: 0.2210
Epoch 25: early stopping
Restoring model weights from the end of the best epoch: 15.

In [35]:
history_test = ann.evaluate(X_test, Y_test)

3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - accuracy: 0.9250 - loss: 0.2075

In [36]:
Y_pred = ann.predict(X_test)

3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step

In [37]:
print(list(Y_pred))

[array([0.12323688], dtype=float32), array([0.12621772], dtype=float32), array([0.20547003], dtype=float32), array([0.08350807], dtype=float32), array([0.06449656], dtype=float32), array([0.00492779], dtype=float32), array([0.01247314], dtype=float32), array([0.83712906], dtype=float32), array([0.00672252], dtype=float32), array([0.49556485], dtype=float32), array([0.0296479], dtype=float32), array([0.02154938], dtype=float32), array([0.15199547], dtype=float32), array([0.40159255], dtype=float32), array([0.01498623], dtype=float32), array([0.40774417], dtype=float32), array([0.3024874], dtype=float32), array([0.01161232], dtype=float32), array([0.89159507], dtype=float32), array([0.02985733], dtype=float32), array([0.05713337], dtype=float32), array([0.86067337], dtype=float32), array([0.2613607], dtype=float32), array([0.8666069], dtype=float32), array([0.0039952], dtype=float32), array([0.8704483], dtype=float32), array([0.08025099], dtype=float32), array([0.07859568], dtype=float32), array([0.14545342], dtype=float32), array([0.15355858], dtype=float32), array([0.02009713], dtype=float32), array([0.3196985], dtype=float32), array([0.87446207], dtype=float32), array([0.14192924], dtype=float32), array([0.01169588], dtype=float32), array([0.00250324], dtype=float32), array([0.0188968], dtype=float32), array([0.04033467], dtype=float32), array([0.01574668], dtype=float32), array([0.69781494], dtype=float32), array([0.07063755], dtype=float32), array([0.27563336], dtype=float32), array([0.05942609], dtype=float32), array([0.0276165], dtype=float32), array([0.681772], dtype=float32), array([0.02022684], dtype=float32), array([0.26966324], dtype=float32), array([0.80201274], dtype=float32), array([0.00591324], dtype=float32), array([0.8605236], dtype=float32), array([0.89371145], dtype=float32), array([0.03291707], dtype=float32), array([0.08522968], dtype=float32), array([0.5089211], dtype=float32), array([0.9010141], dtype=float32), array([0.28983927], dtype=float32), array([0.08186475], dtype=float32), array([0.0419833], dtype=float32), array([0.45424873], dtype=float32), array([0.00206364], dtype=float32), array([0.01343151], dtype=float32), array([0.8736666], dtype=float32), array([0.00811846], dtype=float32), array([0.4575401], dtype=float32), array([0.002785], dtype=float32), array([0.89936346], dtype=float32), array([0.04197084], dtype=float32), array([0.02227456], dtype=float32), array([0.2001499], dtype=float32), array([0.34959123], dtype=float32), array([0.638718], dtype=float32), array([0.18050973], dtype=float32), array([0.00962272], dtype=float32), array([0.2145388], dtype=float32), array([0.07331996], dtype=float32), array([0.00830287], dtype=float32), array([0.40859607], dtype=float32), array([0.22468103], dtype=float32), array([0.83528423], dtype=float32), array([0.7441301], dtype=float32)]

In [38]:
# Y_pred = (Y_pred >= 0.5).astype(int)
Y_pred = np.round(Y_pred)
np.unique(Y_pred, return_counts = True)

(array([0., 1.], dtype=float32), array([62, 18]))

In [39]:
print(list(Y_pred))

[array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([1.], dtype=float32)]

In [40]:
print(list(Y_test))

[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1]

### Evaluation

In [41]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [42]:
print("Classification Report: ")
print(classification_report(Y_test, Y_pred))
print("\nConfusion Matrix: ")
print(confusion_matrix(Y_test, Y_pred))

Classification Report:
              precision    recall  f1-score   support

           0       0.92      0.98      0.95        58
           1       0.94      0.77      0.85        22

    accuracy                           0.93        80
   macro avg       0.93      0.88      0.90        80
weighted avg       0.93      0.93      0.92        80


Confusion Matrix:
[[57  1]
 [ 5 17]]

In [43]:
ac = accuracy_score(Y_test, Y_pred)

In [44]:
print(ac)

0.925