## Fetching Dataset

In [1]:
# from google.colab import drive

# drive.mount("/content/drive")

In [2]:
import numpy as np, pandas as pd

In [3]:
dataset = pd.read_csv("../Datasets/Social_Network_Ads_Cleaned.csv")

In [4]:
dataset.head(5)

     UserID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
dataset.tail(5)

       UserID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

In [6]:
dataset

       UserID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [7]:
dataset.rename(columns={"User ID": "UserID"}, inplace=True)

In [8]:
dataset.shape

(400, 5)

In [9]:
print("The dataset has a total of " + str(dataset.shape[0]) + " rows and " + str(dataset.shape[1]) + " columns.")

The dataset has a total of 400 rows and 5 columns.

In [10]:
dat_columns = dataset.columns
dat_columns

Index(['UserID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

## Encoding Data

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le = LabelEncoder()
dataset["Gender"] = le.fit_transform(dataset["Gender"])

In [13]:
dataset

       UserID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       0   26            43000          0
3    15603246       0   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       0   46            41000          1
396  15706071       1   51            23000          1
397  15654296       0   50            20000          1
398  15755018       1   36            33000          0
399  15594041       0   49            36000          1

[400 rows x 5 columns]

In [14]:
# dataset["Gender"] = dataset["Gender"].map({"Male": 0, "Female": 1})

## Splitting Input & Output Data

In [15]:
x = dataset.iloc[:, [1, 2, 3]]
y = dataset.iloc[:, -1]

In [16]:
x

     Gender  Age  EstimatedSalary
0         1   19            19000
1         1   35            20000
2         0   26            43000
3         0   27            57000
4         1   19            76000
..      ...  ...              ...
395       0   46            41000
396       1   51            23000
397       0   50            20000
398       1   36            33000
399       0   49            36000

[400 rows x 3 columns]

In [17]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

## Splitting Train and Test Set

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [20]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(320, 3)
(80, 3)
(320,)
(80,)

In [21]:
X_train

     Gender  Age  EstimatedSalary
336       1   58           144000
64        0   59            83000
55        0   24            55000
106       0   26            35000
300       0   58            38000
..      ...  ...              ...
323       0   48            30000
192       1   29            43000
117       1   36            52000
47        0   27            54000
172       0   26           118000

[320 rows x 3 columns]

In [22]:
X_test

     Gender  Age  EstimatedSalary
132       1   30            87000
309       0   38            50000
341       1   35            75000
196       0   30            79000
246       0   35            50000
..      ...  ...              ...
14        1   18            82000
363       0   42            79000
304       0   40            60000
361       0   53            34000
329       0   47           107000

[80 rows x 3 columns]

## Scaling Data

In [23]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

**MinMaxScaler:**

*X_{scaled} = (X - X_{min}) / (X_{max} - X_{min})* 

- Scales the data such that all values are in the range [0, 1].
- Preserves the shape of the dataset.
- Also known as Normalization.

In [24]:
sc = MinMaxScaler()
X_train[["Age"]] = sc.fit_transform(X_train[["Age"]])
X_test[["Age"]] = sc.transform(X_test[["Age"]])
X_train[["EstimatedSalary"]] = sc.fit_transform(X_train[["EstimatedSalary"]])
X_test[["EstimatedSalary"]] = sc.transform(X_test[["EstimatedSalary"]])

In [25]:
X_test

     Gender       Age  EstimatedSalary
132       1  0.285714         0.533333
309       0  0.476190         0.259259
341       1  0.404762         0.444444
196       0  0.285714         0.474074
246       0  0.404762         0.259259
..      ...       ...              ...
14        1  0.000000         0.496296
363       0  0.571429         0.474074
304       0  0.523810         0.333333
361       0  0.833333         0.140741
329       0  0.690476         0.681481

[80 rows x 3 columns]

**StandardScaler**

*X_{scaled} = (X - \mu) / \sigma*; 
*\sigma = √[ Σ (X_i - \mu)² / N ]* 

- Scales the data to have a mean of 0 and standard deviation of 1.
- Useful when data distribution is gaussian/normal.
- Also known as Standardization.

In [26]:
# sc = StandardScaler()
# X_train[["Age_scaled"]] = sc.fit_transform(X_train[["Age"]])
# X_test[["Age_scaled"]] = sc.transform(X_test[["Age"]])
# X_train[["EstimatedSalary_scaled"]] = sc.fit_transform(X_train[["EstimatedSalary"]])
# X_test[["EstimatedSalary_scaled"]] = sc.transform(X_test[["EstimatedSalary"]])

In [27]:
# X_test

## Classification

### Modeling

In [28]:
from keras.models import Sequential
from keras.layers import Input
from keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping

In [29]:
ann = Sequential()
ann.add(Input((3,)))
ann.add(Dense(8, activation='relu'))
ann.add(Dense(4, activation='relu'))
ann.add(Dense(1, activation='sigmoid'))

In [30]:
# ann.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
ann.compile(loss='binary_crossentropy', optimizer=Adam(learning_rate=1e-2), metrics=['accuracy'])

In [31]:
ann.optimizer.get_config()

{'name': 'adam',
 'learning_rate': 0.009999999776482582,
 'weight_decay': None,
 'clipnorm': None,
 'global_clipnorm': None,
 'clipvalue': None,
 'use_ema': False,
 'ema_momentum': 0.99,
 'ema_overwrite_frequency': None,
 'loss_scale_factor': None,
 'gradient_accumulation_steps': None,
 'beta_1': 0.9,
 'beta_2': 0.999,
 'epsilon': 1e-07,
 'amsgrad': False}

In [32]:
ann.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 8)              │            32 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 4)              │            36 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │             5 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 73 (292.00 B)

 Trainable params: 73 (292.00 B)

 Non-trainable params: 0 (0.00 B)

In [33]:
callback = EarlyStopping(monitor='accuracy', min_delta=1e-2, patience=10, verbose=1, mode='max', restore_best_weights=True, start_from_epoch=0)

In [34]:
hist = ann.fit(X_train, Y_train, epochs=100, batch_size=32, validation_split=0.15, callbacks=[callback])

Epoch 1/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 4s 73ms/step - accuracy: 0.6103 - loss: 0.6852 - val_accuracy: 0.6875 - val_loss: 0.6528
Epoch 2/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - accuracy: 0.6103 - loss: 0.6727 - val_accuracy: 0.6875 - val_loss: 0.6252
Epoch 3/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - accuracy: 0.6103 - loss: 0.6627 - val_accuracy: 0.6875 - val_loss: 0.6132
Epoch 4/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - accuracy: 0.6103 - loss: 0.6534 - val_accuracy: 0.6875 - val_loss: 0.6023
Epoch 5/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.6103 - loss: 0.6430 - val_accuracy: 0.6875 - val_loss: 0.5921
Epoch 6/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.6103 - loss: 0.6313 - val_accuracy: 0.6875 - val_loss: 0.5805
Epoch 7/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.6103 - loss: 0.6196 - val_accuracy: 0.6875 - val_loss: 0.5579
Epoch 8/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.6103 - loss: 0.6043 - val_accuracy: 0.6875 - val_loss: 0.5421
Epoch 9/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.6103 - loss: 0.5885 - val_accuracy: 0.6875 - val_loss: 0.5188
Epoch 10/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.6176 - loss: 0.5681 - val_accuracy: 0.7917 - val_loss: 0.4892
Epoch 11/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.7574 - loss: 0.5489 - val_accuracy: 0.8958 - val_loss: 0.4622
Epoch 12/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step - accuracy: 0.7537 - loss: 0.5130 - val_accuracy: 0.8542 - val_loss: 0.4190
Epoch 13/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.7941 - loss: 0.4863 - val_accuracy: 0.9167 - val_loss: 0.4024
Epoch 14/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.8088 - loss: 0.4655 - val_accuracy: 0.8958 - val_loss: 0.3619
Epoch 15/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.8015 - loss: 0.4408 - val_accuracy: 0.9167 - val_loss: 0.3407
Epoch 16/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - accuracy: 0.8309 - loss: 0.4209 - val_accuracy: 0.9375 - val_loss: 0.3124
Epoch 17/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - accuracy: 0.8199 - loss: 0.4083 - val_accuracy: 0.9167 - val_loss: 0.3065
Epoch 18/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - accuracy: 0.8235 - loss: 0.4014 - val_accuracy: 0.9375 - val_loss: 0.2836
Epoch 19/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - accuracy: 0.8346 - loss: 0.3967 - val_accuracy: 0.9167 - val_loss: 0.2712
Epoch 20/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step - accuracy: 0.8272 - loss: 0.3932 - val_accuracy: 0.9167 - val_loss: 0.2804
Epoch 21/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step - accuracy: 0.8309 - loss: 0.3821 - val_accuracy: 0.9375 - val_loss: 0.2553
Epoch 22/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - accuracy: 0.8162 - loss: 0.3838 - val_accuracy: 0.9167 - val_loss: 0.2493
Epoch 23/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - accuracy: 0.8235 - loss: 0.3986 - val_accuracy: 0.9167 - val_loss: 0.2573
Epoch 24/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - accuracy: 0.8015 - loss: 0.3816 - val_accuracy: 0.9375 - val_loss: 0.2296
Epoch 25/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - accuracy: 0.8566 - loss: 0.3558 - val_accuracy: 0.9375 - val_loss: 0.2188
Epoch 26/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - accuracy: 0.8529 - loss: 0.3411 - val_accuracy: 0.9375 - val_loss: 0.2097
Epoch 27/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - accuracy: 0.8640 - loss: 0.3300 - val_accuracy: 0.9375 - val_loss: 0.2055
Epoch 28/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - accuracy: 0.8713 - loss: 0.3296 - val_accuracy: 0.9583 - val_loss: 0.1821
Epoch 29/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.8713 - loss: 0.3148 - val_accuracy: 0.9583 - val_loss: 0.1779
Epoch 30/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step - accuracy: 0.8603 - loss: 0.3135 - val_accuracy: 0.9375 - val_loss: 0.1873
Epoch 31/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step - accuracy: 0.8713 - loss: 0.3145 - val_accuracy: 0.9375 - val_loss: 0.1760
Epoch 32/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step - accuracy: 0.8787 - loss: 0.3066 - val_accuracy: 0.9583 - val_loss: 0.1619
Epoch 33/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - accuracy: 0.8824 - loss: 0.2964 - val_accuracy: 0.9375 - val_loss: 0.1709
Epoch 34/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step - accuracy: 0.8860 - loss: 0.2917 - val_accuracy: 0.9792 - val_loss: 0.1522
Epoch 35/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step - accuracy: 0.8824 - loss: 0.2883 - val_accuracy: 0.9792 - val_loss: 0.1502
Epoch 36/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - accuracy: 0.8787 - loss: 0.2841 - val_accuracy: 0.9792 - val_loss: 0.1542
Epoch 37/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step - accuracy: 0.8824 - loss: 0.2829 - val_accuracy: 0.9792 - val_loss: 0.1481
Epoch 38/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - accuracy: 0.8787 - loss: 0.2822 - val_accuracy: 0.9792 - val_loss: 0.1415
Epoch 39/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step - accuracy: 0.8824 - loss: 0.2749 - val_accuracy: 0.9583 - val_loss: 0.1434
Epoch 40/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - accuracy: 0.8897 - loss: 0.2745 - val_accuracy: 0.9792 - val_loss: 0.1470
Epoch 41/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step - accuracy: 0.8824 - loss: 0.2708 - val_accuracy: 0.9583 - val_loss: 0.1404
Epoch 42/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step - accuracy: 0.8787 - loss: 0.2698 - val_accuracy: 0.9792 - val_loss: 0.1332
Epoch 43/100
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step - accuracy: 0.8824 - loss: 0.2675 - val_accuracy: 0.9583 - val_loss: 0.1363
Epoch 43: early stopping
Restoring model weights from the end of the best epoch: 33.

In [35]:
history_test = ann.evaluate(X_test, Y_test)

3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - accuracy: 0.9625 - loss: 0.1583

In [36]:
Y_pred = ann.predict(X_test)

3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 69ms/step

In [37]:
print(list(Y_pred))

[array([0.09692759], dtype=float32), array([0.07709469], dtype=float32), array([0.13408922], dtype=float32), array([0.05658017], dtype=float32), array([0.03198244], dtype=float32), array([0.00083686], dtype=float32), array([0.07048018], dtype=float32), array([0.9074265], dtype=float32), array([0.01607355], dtype=float32), array([0.80453134], dtype=float32), array([0.00473021], dtype=float32), array([0.01508876], dtype=float32), array([0.04993621], dtype=float32), array([0.35701466], dtype=float32), array([0.00615103], dtype=float32), array([0.43353978], dtype=float32), array([0.24195145], dtype=float32), array([0.00429244], dtype=float32), array([0.9190342], dtype=float32), array([0.02891556], dtype=float32), array([0.03678346], dtype=float32), array([0.9188198], dtype=float32), array([0.18928982], dtype=float32), array([0.87760204], dtype=float32), array([0.00424335], dtype=float32), array([0.91952497], dtype=float32), array([0.06196062], dtype=float32), array([0.04301363], dtype=float32), array([0.07448225], dtype=float32), array([0.11419718], dtype=float32), array([0.00957923], dtype=float32), array([0.2744003], dtype=float32), array([0.9173439], dtype=float32), array([0.04866224], dtype=float32), array([0.00177275], dtype=float32), array([0.00025751], dtype=float32), array([0.00699667], dtype=float32), array([0.03303667], dtype=float32), array([0.02523784], dtype=float32), array([0.80376655], dtype=float32), array([0.04845104], dtype=float32), array([0.23786612], dtype=float32), array([0.04431069], dtype=float32), array([0.02957017], dtype=float32), array([0.79084045], dtype=float32), array([0.01528336], dtype=float32), array([0.1845862], dtype=float32), array([0.8283823], dtype=float32), array([0.0004864], dtype=float32), array([0.8507512], dtype=float32), array([0.9130185], dtype=float32), array([0.0808074], dtype=float32), array([0.04043278], dtype=float32), array([0.7772812], dtype=float32), array([0.88507044], dtype=float32), array([0.703332], dtype=float32), array([0.05921316], dtype=float32), array([0.03039219], dtype=float32), array([0.8877235], dtype=float32), array([0.00016899], dtype=float32), array([0.00803663], dtype=float32), array([0.9508597], dtype=float32), array([0.00200561], dtype=float32), array([0.60986817], dtype=float32), array([0.00213428], dtype=float32), array([0.91267085], dtype=float32), array([0.03460425], dtype=float32), array([0.00407406], dtype=float32), array([0.17421895], dtype=float32), array([0.24004827], dtype=float32), array([0.7985122], dtype=float32), array([0.11701164], dtype=float32), array([0.01562365], dtype=float32), array([0.7268144], dtype=float32), array([0.05251379], dtype=float32), array([0.00252791], dtype=float32), array([0.34630778], dtype=float32), array([0.11121498], dtype=float32), array([0.8736656], dtype=float32), array([0.8302076], dtype=float32)]

In [38]:
# Y_pred = (Y_pred >= 0.5).astype(int)
Y_pred = np.round(Y_pred)
np.unique(Y_pred, return_counts = True)

(array([0., 1.], dtype=float32), array([57, 23]))

In [39]:
print(list(Y_pred))

[array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([1.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([0.], dtype=float32), array([1.], dtype=float32), array([1.], dtype=float32)]

In [40]:
print(list(Y_test))

[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1]

### Evaluation

In [41]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [42]:
print("Classification Report: ")
print(classification_report(Y_test, Y_pred))
print("\nConfusion Matrix: ")
print(confusion_matrix(Y_test, Y_pred))

Classification Report:
              precision    recall  f1-score   support

           0       0.98      0.97      0.97        58
           1       0.91      0.95      0.93        22

    accuracy                           0.96        80
   macro avg       0.95      0.96      0.95        80
weighted avg       0.96      0.96      0.96        80


Confusion Matrix:
[[56  2]
 [ 1 21]]

In [43]:
ac = accuracy_score(Y_test, Y_pred)

In [44]:
print(ac)

0.9625